In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
%matplotlib inline

In [50]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [5]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [12]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [45]:
from mlxtend.frequent_patterns import association_rules 
frequent_itemsets_=apriori(df, min_support=0.6)
association_rules(frequent_itemsets_,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5),(7),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(7),(5),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(9),(5),0.6,0.8,0.6,1.00,1.2500,0.12,inf
3,(5),(9),0.8,0.6,0.6,0.75,1.2500,0.12,1.6

In [48]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets_,metric="lift",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5),(7),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(7),(5),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(9),(5),0.6,0.8,0.6,1.00,1.2500,0.12,inf
3,(5),(9),0.8,0.6,0.6,0.75,1.2500,0.12,1.6

In [10]:
Df = pd.read_csv('Market_Basket_Optimisation.csv', header='infer')
Df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
transactions = []
for i in range(0, 7500):
    transactions.append([str(Df.values[i,j]) for j in range(0, 20)])

In [54]:
#print(transactions)

In [27]:
te=TransactionEncoder()
te_ary=te.fit(transactions).transform(transactions)    #Apply one-hot-encoding on our dataset
data=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
data

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [34]:
from mlxtend.frequent_patterns import apriori
apriori(data, min_support=0.1)

     support   itemsets
0   0.163867       (25)
1   0.179733       (37)
2   0.170933       (43)
3   0.132000       (54)
4   0.129600       (71)
5   0.238267       (72)
6   1.000000       (77)
7   0.174133      (101)
8   0.163867   (25, 77)
9   0.179733   (77, 37)
10  0.170933   (43, 77)
11  0.132000   (77, 54)
12  0.129600   (77, 71)
13  0.238267   (72, 77)
14  0.174133  (101, 77)

In [36]:
from mlxtend.frequent_patterns import association_rules 
frequent_itemsets=apriori(data, min_support=0.1)
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(25),(77),0.163867,1.0,0.163867,1.0,1.0,0.0,inf
1,(37),(77),0.179733,1.0,0.179733,1.0,1.0,0.0,inf
2,(43),(77),0.170933,1.0,0.170933,1.0,1.0,0.0,inf
3,(54),(77),0.132000,1.0,0.132000,1.0,1.0,0.0,inf
4,(71),(77),0.129600,1.0,0.129600,1.0,1.0,0.0,inf
5,(72),(77),0.238267,1.0,0.238267,1.0,1.0,0.0,inf
6,(101),(77),0.174133,1.0,0.174133,1.0,1.0,0.0,inf

In [43]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(25),(77),0.163867,1.000000,0.163867,1.000000,1.0,0.0,inf
1,(77),(25),1.000000,0.163867,0.163867,0.163867,1.0,0.0,1.0
2,(77),(37),1.000000,0.179733,0.179733,0.179733,1.0,0.0,1.0
3,(37),(77),0.179733,1.000000,0.179733,1.000000,1.0,0.0,inf
4,(43),(77),0.170933,1.000000,0.170933,1.000000,1.0,0.0,inf
5,(77),(43),1.000000,0.170933,0.170933,0.170933,1.0,0.0,1.0
6,(77),(54),1.000000,0.132000,0.132000,0.132000,1.0,0.0,1.0
7,(54),(77),0.132000,1.000000,0.132000,1.000000,1.0,0.0,inf
8,(77),(71),1.000000,0.129600,0.129600,0.129600,1.0,0.0,1.0
9,(71),(77),0.129600,1.000000,0.129600,1.000000,1.0,0.0,inf
10,(72),(77),0.238267,1.000000,0.238267,1.000000,1.0,0.0,inf
11,(77),(72),1.000000,0.238267,0.238267,0.238267,1.0,0.0,1.0
12,(101),(77),0.174133,1.000000,0.174133,1.000000,1.0,0.0,inf
13,(77),(101),1.000000,0.174133,0.174133,0.174133,1.0,0.0,1.0